<div ng-controller="angularController">
    <div class="row">
        <div class="card m-3 card-size col-md-4 shadow" data-ng-repeat="product in products">
            <img src="{{product.image}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title card-title-size">{{ product.name }}</h5>
                <div class="row">
                    <p class="card-text card-text-color col-md-6">{{ product.price }}</p>

                    <p class="card-text card-text-size col-md-6">
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>